body {
    background: #ffffff;
    color: #000000;
}

a {
    color: #8ab1b8;
    text-decoration: none;
}

a:hover {
    color: #3e94e9;
    text-decoration: underline;
}

.card {
    background: #f7f7f7;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: #f7f7f7 0.2em solid;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.card:hover {
    border: #008eda 0.2em solid;
}


button {
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    padding: 10px 15px;
}

button:hover {
    color: #0e68bc;
}

button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%);
    outline: none;
    border: 2px solid #0854a6;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #eaeaea;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(155, 155, 155);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    color: rgb(155, 155, 155);
    text-decoration: none;
    background-color: #d2d2d2;
}


textarea {
    background-color: #ffffff;
}

code {
    background-color: #efefef;
    border-radius: 5px;
    width: 90%;
}

pre {
    background-color: #efefef;
    padding: 3px;
    border-radius: 5px;
    width: 90%;
}